<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <h1 th:text="${message}"></h1>
    <form th:action="@{/v1/addUser}" th:object="${user}" method="post">
        <p>Username: <input type="text" th:field="*{username}"/></p>
        <p>Password: <input type="text" th:field="*{password}"/></p>
        <p>Age: <input type="text" th:field="*{age}"/></p>
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <p>Phone Number: <input type="text" th:field="*{phoneNumber}"/></p>
        <button class="custom-btn">Xác nhận thêm</button>
        <a href="#" th:href="@{/v1/showUser}" class="custom-btn" style="text-decoration-line: none">Danh sách user</a>
        <a href="#" th:href="@{/v1/home}" class="custom-btn" style="text-decoration-line: none">Trang chủ</a>
    </form>
</body>

</html>