<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>

<body>
<div class="header">
    <img th:src="@{/images/logo.png}" alt="">
    <div class="header-right">
        <p class="p1">BAO THANH MINERAL & PRODUCITON COMPANY LIMITED</p>
        <p class="p2">Address: But Phong Village, Lien Son Commune, Kim Bang District, Ha Nam Province</p>
    </div>
</div>
<div class="nav">
    <p><a href="#">Trang chủ</a></p>
    <p><a href="#">Trang chủ</a></p>
    <p><a href="#">Trang chủ</a></p>
    <p><a href="#">Trang chủ</a></p>
    <p><a th:href="@{/v1/showUser}">Users</a></p>
    <img th:src="@{/images/logo.png}" alt="">
    <img th:src="@{/images/logo.png}" alt="">
    <label>
        <input type="text" placeholder="Nhập từ khóa tìm kiếm">
    </label>
</div>

<div class="container">
    <div class="menu">
        <ul>
            <li>
                <div class="main">
                    THEO ỨNG DỤNG
                </div>
            </li>
            <li class="cap1">
                <p>NL Ngành thức ăn chăn nuôi</p>
            </li>
            <li class="cap1">
                <p>NL Ngành thủy hải sản</p>
            </li>
            <li class="cap1">
                <p>NL Ngành SX phân bón</p>
            </li>
            <li class="cap1">
                <p>Nguyên Vật Liệu Xây Dựng</p>
            </li>
            <li class="cap2">
                <p>Các ngành khác</p>
                <ul class="submenu">
                    <li>
                        <p>NL Ngành Kính</p>
                    </li>
                    <li>
                        <p>NL Ngành luyện kim</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="content-header">
            <p>SỎI QUAY NHÂN TẠO</p>
            <P style="text-decoration: underline; margin-right: 10px;">Xem tất cả</P>
        </div>
        <hr>
        <div class="content-main">
            <div class="content-left">
                <img th:src="@{/images/logo.png}" alt="">
                <img th:src="@{/images/logo.png}" alt="">
                <img th:src="@{/images/logo.png}" alt="">
            </div>
            <div class="content-right">
                <div class="content1">
                    <div class="imag">
                        <img th:src="@{/images/logo.png}" alt="">
                    </div>
                    <div class="pp">
                        <p>Đã đẫm trnag trí sẵn vuông</p>
                        <p class="lh">Liên hệ</p>
                    </div>
                </div>

                <div class="content1">
                    <div class="imag">
                        <img th:src="@{/images/logo.png}" alt="">
                    </div>
                    <div class="pp">
                        <p>Đã đẫm trnag trí sẵn vuông</p>
                        <p class="lh">Liên hệ</p>
                    </div>
                </div>

                <div class="content1">
                    <div class="imag">
                        <img th:src="@{/images/logo.png}" alt="">
                    </div>
                    <div class="pp">
                        <p>Đã đẫm trnag trí sẵn vuông</p>
                        <p class="lh">Liên hệ</p>
                    </div>
                </div>

                <div class="content1">
                    <div class="imag">
                        <img th:src="@{/images/logo.png}" alt="">
                    </div>
                    <div class="pp">
                        <p>Đã đẫm trnag trí sẵn vuông</p>
                        <p class="lh">Liên hệ</p>
                    </div>
                </div>

                <div class="content1">
                    <div class="imag">
                        <img th:src="@{/images/logo.png}" alt="">
                    </div>
                    <div class="pp">
                        <p>Đã đẫm trnag trí sẵn vuông</p>
                        <p class="lh">Liên hệ</p>
                    </div>
                </div>

                <div class="content1">
                    <div class="imag">
                        <img th:src="@{/images/logo.png}" alt="">
                    </div>
                    <div class="pp">
                        <p>Đã đẫm trnag trí sẵn vuông</p>
                        <p class="lh">Liên hệ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>