<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Document</title>
</head>

<body>
    <h1 th:text="${message}"></h1>

    <ul>
        <li th:each="user : ${users}">
            <span th:text="*{user.getStt()}"></span>
            <ul>
                <li><span th:text="*{user.getUsername()}"></span></li>
                <li><span th:text="*{user.getAge()}"></span></li>
                <li><span th:text="*{user.getEmail()}"></span></li>
                <li><span th:text="*{user.getPhoneNumber()}"></span></li>
                <li><span th:text="*{user.getRole()}"></span></li>
            </ul>
        </li>
    </ul>
    <a href="#" th:href="@{/v1/addUser}" class="custom-btn" style="text-decoration-line: none">Thêm user mới</a>
    <a href="#" th:href="@{/v1/deleteUser}" class="custom-btn" style="text-decoration-line: none">Xóa user</a>
    <a href="#" th:href="@{/v1/home}" class="custom-btn" style="text-decoration-line: none">Trang chủ</a>
</body>

</html>