<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}">
</head>
<body>
<div class="container fade-in">
    <div class="card">
        <h2>Đăng ký</h2>
<!--        <form th:action="@{/v1/auth/signup}" th:object="${user}" method="post">-->
<!--            <input type="email" placeholder="Email" th:field="*{email}">-->
<!--            <input type="password" placeholder="Mật khẩu" th:field="*{password}">-->
<!--            <input type="password" placeholder="Nhập lại mật khẩu" th:field="*{confirmPassword}">-->
<!--            <button>Đăng ký</button>-->
<!--        </form>-->
        <div class="social-login">
            <button class="social-btn facebook"><i class="fab fa-facebook-f"></i></button>
            <button class="social-btn google"><i class="fab fa-google"></i></button>
        </div>
        <p>Đã có tài khoản? <a class="toggle-btn" onclick="navigateTo()" th:href="@{/v1/auth/login}">Đăng nhập</a></p>
    </div>
</div>

<script>
    function navigateTo() {
        document.body.classList.add('fade-out');
        setTimeout(() => {
        }, 100);
    }
</script>
</body>
</html>
